
/* base theme */
h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}
h1 {
    margin-top:48px;
}

body {
    font-weight: 300;
}
textarea {
    font-weight: 300;
    width: 100%;
}

.jumbotron {
    background-color: #666;
    color:#EEE;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    text-shadow: #000 0px 0px 4px;
}
.jumbotron .card {
    color:#333;
    border-color: #333;
    box-shadow: #000 0px 0px 10px;
}
.container {
    margin-bottom: 30px;
}
.card {
    margin-bottom: 30px;
}
.card-image-container {
    height: 256px;
}

/* preview */
.project-preview .device {
    margin: 40px auto;
    position:relative;
}
.project-preview .device .image {
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.project-preview .device .fake-screen {
    position:absolute;
    top:-10px;
    left:-10px;
    border: solid 10px #111;
    border-radius: 10px;
}

/* Mobile phones */
.project-preview .device.mobile {
    margin: 60px auto;
    width: 90px;
    height: 150px;
}
.project-preview .device.mobile .fake-screen {
    width: 110px;
    height: 170px;
}
/* Desktop
    1920:1080 = ~1.7777
    340:180
*/
.project-preview .device.desktop {
    width: 340px;
    height: 180px;
}
.project-preview .device.desktop .fake-screen {
    width: 360px;
    height: 200px;
}
@media (max-width: 1092px) {
    .project-preview .device.desktop {
        margin: 80px auto;
        width: 170px;
        height: 90px;
    }
    .project-preview .device.desktop .fake-screen {
        border: solid 7px #111;
        top:-6px;
        left:-6px;
        width: 180px;
        height: 100px;
    }
}





.navbar > .container {
    margin-bottom: 0px;
}
.badge {
    margin: 2px;
    font-weight:300;
}
.list-group-item.narrow {
    padding-bottom: .40rem;
    padding-top: .40rem;
}








/* skills */
.skill {
    color: #FFF;
    text-shadow: #333 0px 0px 4px;
    text-align:left;
    padding-left: 8px;
    margin-bottom:2px;
    cursor:pointer;
    transition: all 2s;
    width:100px;
    font-family:monospace;
    display:block;
}
.skill:hover {
    background:#333 !important;
}

#skill-information {
    margin-left: 16px;
}

#skill-cursor {
    position: absolute;
    margin-left:-32px;
    border-radius: 16px 32px 16px 0px;
    background: #d9edf7;
    transform: rotate(45deg);
    width: 32px;
    height:32px;
    transition: top 0.5s;
    display:none; /* default value */
}
