<!-- about -->
<div class="container" id="about">
    <h2>About</h2>
    <div class="row">
        <div class="col-sm-4" style="text-align:center;">
            <img src="{{ gravatar.thumbnailUrl }}" alt="Professional mug shot" class="rounded-circle mx-auto">
        </div>
        <div class="col-sm-8 lead">{{ gravatar.aboutMe }}</div>
    </div>
    <hr class="my-4">
    <p>
        This is another short blurb about myself. It can go on and on and on because it's a pretty long line and I think that it looks good if the space is filled up
    </p>
</div>
<div class="container">
    <div class="row" style="height:320px;">
        <div class="col-sm-6">
            <h3>Skills</h3>
            {% for skill in skills %}
            <button type="button" class="btn btn-sm skill" data-points="{{skill.level}}" data-content="{{ skill.description }}">{{skill.name}}</button>
            {% endfor %}
        </div>
        <div class="col-sm-6 hidden-xs-down">
            <div class="alert alert-info h-100" role="alert">
                <div id="skill-cursor">&nbsp;</div>
                <h4 id="skill-title"></h4>
                <small><p id="skill-title-description"></p></small>
                <p class="lead" id="skill-information">Hover over the skills for extra information</p>
            </div>
        </div>
    </div>
</div>
