<!-- nav bar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">JamesCodes.ca</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects"><i class="fa fa-pencil-square" aria-hidden="true"></i> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><i class="fa fa-commenting" aria-hidden="true"></i> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
