<!-- projects -->
<div class="container" id="projects">
    <h2>Projects</h2>
    <div class="row">
        {% for project in projects %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-image-container project-preview">
                    {% for device in project.devices %}
                        <div class="device {{ device }}">
                            <div class="image" style="background-image:url('{{ project.image }}');"></div>
                            <div class="fake-screen"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{project.name}}</h4>
                    <p class="card-text">{{project.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item narrow">
                    {% for lang in project.languages %}
                        <span class="badge badge-success">{{lang}}</span>
                    {% endfor %}
                    </li>
                    <li class="list-group-item narrow">
                    {% for api in project.apis %}
                        <span class="badge badge-default">{{api}}</span>
                    {% endfor %}
                    </li>
                    <li class="list-group-item narrow">
                    {% for other in project.infrastructure %}
                        <span class="badge badge-info">{{other}}</span>
                    {% endfor %}
                    </li>
                </ul>
                <div class="card-block ">
                    {% if project.repo %}
                        <a href="{{ project.repo }}" target="_blank" class="btn btn-outline-primary card-link">View source <i class="fa fa-github" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if project.url %}
                        <a href="{{ project.url }}" class="btn btn-outline-primary card-link">Check it out <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
